@using HairSalon.Models;

<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>View your Clients</title>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
    <link rel="stylesheet" href="~/css/styles.css">
  </head>
  <body class="container">
    <h1>All current clients:</h1>

    <ul>
    @if (Model.Count == 0)
    {
      <p>This stylist doesn't have clients yet :(!</p>
    }
    @if(Model.Count != 0)
    {
      @foreach (Client client in Model)
      {
        <li><a href='/stylist/@client.StylistId/client/@client.Id'>@client.Name</a></li>
      }
    }
    </ul>

    <a href="/stylist" class="btn btn-dark">View list of stylists</a>
    <a href="/client/delete" class="btn btn-danger">Delete all clients</a>

    </html>
  </body>
