@using HairSalon.Models;

<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>View your Clients</title>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
    <link rel="stylesheet" href="~/css/styles.css">
  </head>
  <body class="container">
    <h1>@Model["stylist"].Name</h1>
    <p>@Model["stylist"].Name is available @Model["stylist"].DaysAvailable</p>

    <ul>
    @if (Model["clientList"].Count == 0)
    {
      <p>This stylist doesn't have clients yet :(!</p>
    }
    @if(Model["clientList"].Count != 0)
    {
      @foreach (Client client in Model["clientList"])
      {
        <li><a href='/stylist/@client.StylistId/client/@client.Id'>@client.Name</a></li>
      }
    }
    </ul>

    <a href="/stylist/@Model["stylist"].Id/client/new" class="btn btn-dark">Add a client this stylist's list</a>
    <a href="/stylist" class="btn btn-dark">Return to list of stylists</a>
    <a href="/" class="btn btn-dark">Return to home page </a>
    </html>
  </body>
